.admin-dashboard-main-container{
    display: flex;
    flex-direction: column;  
    margin-top: 57px;
    margin-inline: 102px;
    gap: 100px;
    padding-bottom: 100px;
}
.admin-system-info{
    display: flex;
    flex-direction: column;
    gap: 66px;
}
.admin-dashboard-main-heading{
    // font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 56.25px;
    text-align: left;
}
.admin-dashboard-sys-info-cont{
    display: flex;
    justify-content: center;
    padding-block: 57px;
    padding-inline: 82px;
    gap: 78px;
}
.admin-dashboard-tot-users{
    display: flex;
    background-color: #FFFFFF;
    color: #000000;
    max-width: 501px;
    width: 100%;
   align-items: center;
   justify-content: center;
//    font-family: Work Sans;
font-size: 36px;
font-weight: 700;
line-height: 42.23px;
text-align: left;
padding-block: 108px;
border-radius: 30px;
}
.admin-dashboard-tot-payments{
    display: flex;
    background-color: #FFFFFF;
    color: #000000;
    max-width: 501px;
    width: 100%;
   align-items: center;
   justify-content: center;
//    font-family: Work Sans;
font-size: 36px;
font-weight: 700;
line-height: 42.23px;
text-align: left;
padding-block: 108px;
border-radius: 30px;
}
.admin-user-info-main-cont{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.admin-user-info-heading-cont{
    display: flex;
    gap: 24px;
}
.admin-user-info-heading-cont{
    display: flex;
    justify-content: space-between;

}
.admin-user-info-heading{
font-size: 36px;
font-weight: 700;
line-height: 42.23px;
text-align: left;

}
.ant-btn-primary{
background-color: #000000;
color: #FFFFFF;
align-items: center;
font-size: 22px;
font-weight: 700;
line-height: 14.63px;
text-align: left;
height: 50px;
border-radius: 8px;

}
.admin-user-info-button{
    display: flex;
    align-items: center;
}
.ant-select-show-search {
 display: none;
}
.pag-admin{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin sp-layout {
    @media screen and (max-width: 750px) {
      @content;
    }
  }
  
  
  @function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
  }

  body{
    background-color: #000000;
    color: #FFFFFF;
  }
  
  .stars {
    top: 0;
    left: 0;
    width: 70%;
    height: 1000%;
  }
  
  .star {
    $star-count: 50;
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
  
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
    
    @include sp-layout {
      // For mobile performance, tail-fade animation will be removed QAQ
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  
    @for $i from 1 through $star-count {
      &:nth-child(#{$i}) {
        --star-tail-length: #{random_range(500em, 750em) / 100};
        --top-offset: #{random_range(0vh, 10000vh) / 100};
        --fall-duration: #{random_range(6000, 12000s) / 1000};
        --fall-delay: #{random_range(0, 10000s) / 1000};
      }
    }
  
    &::before, &::after {
      position: absolute;
      content: '';
      top: 0;
      left: calc(var(--star-width) / -2);
      width: var(--star-width);
      height: 100%;
      background: linear-gradient(45deg, transparent, currentColor, transparent);
      border-radius: inherit;
      animation: blink 2s linear infinite;
    }
  
    &::before {
      transform: rotate(45deg);
    }
  
    &::after {
      transform: rotate(-45deg);
    }
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
  
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
  
    100% {
      width: 0;
      opacity: 0;
    }
  }
  
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }
.edit-delete{
    display: flex  ;
    gap: 10px;
}
