.logo{
    width: 190px !important;
    margin-top: -20px !important;
    margin-bottom: -40px !important;
}

.sider{
    background-color: #5c013d !important;
    height: 100vh !important;
    position: fixed !important;
}

.user-welcome{
    color: white !important;
    font-size: 20px !important;
    margin-top: 20px !important;
}

.ant-menu {
    background-color: #5c013d !important;
}

.ant-menu-item {
    color: white !important;
    font-weight: bold !important;
    background-color: #b91a91 !important;
}

.ant-menu-item-selected {
    background-color: #6c1ab9 !important;
}

.ant-menu-item:hover {
    background-color: #280358 !important;
}
